*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-box{
    height: 180px;
    width: 100%;
    background-color: bisque;
}
.label-box{
    height: 150px;
    width: 100%;
    background-color: aqua;
    justify-content: center;
    text-align: center;
}
.label-box h1{
    font-size: 100px;
}
.link-box{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: relative;
    
}
.link{
    text-decoration: none;
    padding: 0 60px 0 60px;
    margin: 0 40px 0 40px;
}